.Createtodobutton {
    background-color: #2fc284;
    box-shadow: 0px 1px 30px rgba(97, 218, 250, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    color: #FAFAFA;
    DISPLAY: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    z-index: 1;

    transform: rotate(0);
    transition: .3s ease;
}

.Createtodobutton:hover {
    transform: rotate(224deg);
}