.TodoCount {
    text-shadow: 0 2px 12px rgba(0, 255, 145, 7);
    color: #f2f2f2;
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 48px;
    font-weight: bold;
}

.TodoCount span {
    color: #2fc284;
}